@import url('https://weslleyevangelista.github.io/wreck-it-ralph-project/src/styles/reset.css');

.container {
    background-image: url('https://weslleyevangelista.github.io/wreck-it-ralph-project/src/images/wall.png');
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu {
    background-color: #000;
    height: 90px;
    width: 100%;
    border-bottom: 5px solid #ffd700;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    background-color: #1aeaa5;
    height: 150px;
    width: 150px;
    border: 1px solid #000;
}

.enemy {
    background-image: url('https://weslleyevangelista.github.io/wreck-it-ralph-project/src/images/ralph.png');
    background-size: cover;
}

.menu-lives {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2), .menu-score h2:nth-child(2) {
    margin-top: 1rem;
}
